@use './partials/var' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/bebas-neue/index.css';
@import 'node_modules/flag-icons/css/flag-icons.min.css';

body { 
    font-family: "Bebas Neue", cursive;
    background-color: $secondary-color;
}

.swiper-pagination-bullet-active {
    background: $primary-color;
  }


//   chrome scrollbar

  ::-webkit-scrollbar {
    width: 4px;
    
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: $primary-color; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: darken($primary-color, 15%); 
  }